@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --font-titulo: 'Kdam Thmor Pro', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --color01: #991CEB;
    --color02: #00B392;
    --color03: #002857;
    --color04: #1A26EB;
    --color05: #3DB3EB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu_ {
    display: none;
}

.span {
    display: none;
}

header {
    background-color: var(--color02);
    height: 370px;
    display: flex;
    align-items: center;
}

header > img {
    max-width: 330px;
    margin-left: 20%;
    animation: entrada .5s linear;
}

nav {
    background-color: var(--color02);
    display: flex;
    justify-content: center;
    border-bottom: solid 2px var(--color03);
}

nav a {
    text-decoration: none orange 2px;
}

nav a:hover {
    text-decoration: underline orange 5px;
    transition: .5s;
}

a {
    margin: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.content_header {
    margin-left: 100px;
    max-width: 430px;
    animation: entrada .5s linear;
}

.content_header > h1 {
    font-size: 50px;
    color: white;
    font-family: var(--font-titulo);
}

.content_header > p {
    margin-top: 10px;
    color: white;
    font-family: var(--font-poppins);
}

.content_header > input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--color01);
    color: white;
    width: 300px;
}

.content_header > input:hover {
    background-color: white;
    color: var(--color01);
    transition: .5s;
}

article {
    background-color: var(--color02);
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin-bottom: 120px;
}

.card {
    width: 140px;
    height: 150px;
    background-color: var(--color02);
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    animation: entrada .5s linear;
}

.cardDesktop {
    width: 140px;
    height: 150px;
    background-color: var(--color02);
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    animation: entrada .5s linear;
}

.card P {
    color: white;
    font-family: var(--font-poppins);
}

.cardDesktop  P {
    color: white;
    font-family: var(--font-poppins);
}

main {
    max-width: 800px;
    margin: auto;
}

main div {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main  h1 {
    text-align: left;
    margin: 15px;
    font-family: var(--font-titulo);
}

main  p {
    font-size: 20px;
    font-family: var(--font-poppins);
    text-align: justify;
    
}

.espaço {
    margin: 20px;
}

.desenho {
    max-width: 500px;
}

.cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.card_profile {
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--color02);
    color: white;
    font-family: var(--font-poppins);

}

footer {
    text-align: center;
    color: white;
    background-color: black;
}

@keyframes entrada {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(30px);
        opacity: 1;
    }
}

@media (max-width: 700px) {
    nav {
        display: none;
    }

    .span {
        display: block;
    }

    .menu {
        display: block;
        color: white;
        font-weight: 600;
        margin-right: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px;
        border-radius: 10px;
        background-color: #981ceb6c;
        cursor: pointer;
    }
    
    .menu_ {
        z-index: 1;
        display: none;
        flex-direction: column;
        background-color: var(--color03);
        position: absolute;
        position: fixed;
        box-shadow: 1 1 1 10 black;
        height: 100vh;
        width: 80%;
        right: 0px;
        top: 0px;
    }

    .menu_ span {
        color: white;
        margin: 10px;
        cursor: pointer;
    }

    .menu_ a {
        font-size: 20px;
        margin-left: 50px;
        background-color: #ffffff45;
        border-radius: 20px;
    }

    .content_header {
        margin: auto;
    }

    .cardDesktop {
        display: none;
    }

    header > img {
        display: none;
    }
    
    main {
        max-width: 400px;
    }

    @keyframes entrada_menu {
        0% {
            right: -700px;
        }
        100% {
            right: 0px;
        }
    }
    
    @keyframes saida_menu {
        0% {
            right: 0px;
        }
        100% {
            right: -700px;
        }
    }
}